.wrapper{
    height: 10%;
    width: 80%;
    background-color:black ;
    text-align: center;
}

h3{
    color:white;
    text-transform:uppercase;
}

.header{
    height: 50%;
    margin: 20px;
    padding: 1px;
}

.btn{
    height: 60%;
    width: 60%;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.btn a{
    color:white;
    text-decoration: none;
    background-color:black;
    padding: 10px;
}

th{
    background-color:black;
    border-bottom: 2px;
    font-weight: bold;
    color:whitesmoke;
    padding: 10px;
}

tr:nth-of-type(odd){
    background-color:white;
    text-align: center;
}

tr:nth-of-type(even){
    background-color:darkgrey;
    text-align: center;
}

td{
    color:black; 
}

td a{
    font-size:small;
    font-weight: bold;
}

table{
    width: 60%;
}

.update{
    color:green;
    text-decoration: none;
}

.delete{
    color:red;
    text-decoration: none;
}

